(
    name: "Domain Subterranean",
    environment: (
        color: "#5a6275",
        luminance: 1500,
    ),
    tile_map: (
        offset: (6.0, 0.01, -5.0),
        tiles: [
            // first square of deployable tiles below
            ( pos: (x: 4, y: 0), kind: HighGround, deployable: true),
            ( pos: (x: 4, y: 1), kind: HighGround, deployable: true),
            ( pos: (x: 5, y: 0), kind: HighGround, deployable: true),
            ( pos: (x: 5, y: 1), kind: HighGround, deployable: true),
            // second square
            ( pos: (x: 8, y: 0), kind: HighGround, deployable: true),
            ( pos: (x: 8, y: 1), kind: HighGround, deployable: true),
            ( pos: (x: 9, y: 0), kind: HighGround, deployable: true),
            ( pos: (x: 9, y: 1), kind: HighGround, deployable: true),
            // first lane
            ( pos: (x: 0, y: 2), kind: Ground ),
            ( pos: (x: 1, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 2, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 3, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 4, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 5, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 6, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 7, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 8, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 9, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 10, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 11, y: 2), kind: Ground, deployable: true ),
            ( pos: (x: 12, y: 2), kind: Ground ),
            // 1st bridge
            ( pos: (x: 3, y: 3), kind: Ground, deployable: true ),
            ( pos: (x: 3, y: 4), kind: Ground, deployable: true ),
            // 2nd bridge
            ( pos: (x: 9, y: 3), kind: Ground, deployable: true ),
            ( pos: (x: 9, y: 4), kind: Ground, deployable: true ),
            // main island
            ( pos: (x: 4, y: 3), kind: HighGround, deployable: true ),
            ( pos: (x: 4, y: 4), kind: HighGround, deployable: true ),
            ( pos: (x: 5, y: 3), kind: HighGround, deployable: true ),
            ( pos: (x: 5, y: 4), kind: HighGround, deployable: true ),
            ( pos: (x: 6, y: 3), kind: HighGround, deployable: true ),
            ( pos: (x: 6, y: 4), kind: HighGround, deployable: true ),
            ( pos: (x: 7, y: 3), kind: HighGround, deployable: true ),
            ( pos: (x: 7, y: 4), kind: HighGround, deployable: true ),
            ( pos: (x: 8, y: 3), kind: HighGround, deployable: true ),
            ( pos: (x: 8, y: 4), kind: HighGround, deployable: true ),
            // second lane
            ( pos: (x: 0, y: 5), kind: Ground ),
            ( pos: (x: 1, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 2, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 3, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 4, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 5, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 6, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 7, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 8, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 9, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 10, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 11, y: 5), kind: Ground, deployable: true ),
            ( pos: (x: 12, y: 5), kind: Ground ),
            // left island of deployable tiles
            ( pos: (x: 0, y: 6), kind: HighGround, deployable: true ),
            ( pos: (x: 1, y: 6), kind: HighGround, deployable: true ),
            ( pos: (x: 2, y: 6), kind: HighGround, deployable: true ),
            ( pos: (x: 0, y: 7), kind: HighGround, deployable: true ),
            ( pos: (x: 1, y: 7), kind: HighGround, deployable: true ),
            ( pos: (x: 2, y: 7), kind: HighGround, deployable: true ),
            // first square of deployable tiles above
            ( pos: (x: 4, y: 6), kind: HighGround, deployable: true),
            ( pos: (x: 4, y: 7), kind: HighGround, deployable: true),
            ( pos: (x: 5, y: 6), kind: HighGround, deployable: true),
            ( pos: (x: 5, y: 7), kind: HighGround, deployable: true),
            // second square
            ( pos: (x: 8, y: 6), kind: HighGround, deployable: true),
            ( pos: (x: 8, y: 7), kind: HighGround, deployable: true),
            ( pos: (x: 9, y: 6), kind: HighGround, deployable: true),
            ( pos: (x: 9, y: 7), kind: HighGround, deployable: true),
            // elbow path for boss
            ( pos: (x: 3, y: 6), kind: Ground ),
            ( pos: (x: 3, y: 7), kind: Ground ),
            ( pos: (x: 3, y: 8), kind: Ground ),
            ( pos: (x: 2, y: 8), kind: Ground ),
            ( pos: (x: 1, y: 8), kind: Ground ),
        ],
    ),
    models: [
        (
            path: "models/ccmap.glb#Scene0",
        ),
    ],
)
