(
    name: "Domain Subterranean",
    environment: (
        color: "#5a6275",
        luminance: 1500,
    ),
    tile_map: (
        offset: (-6.0, -5.0, 0.01),
        tiles: [
            // first square of deployable tiles below
            ( pos: (4, 0), kind: HighGround, deployable: true),
            ( pos: (4, 1), kind: HighGround, deployable: true),
            ( pos: (5, 0), kind: HighGround, deployable: true),
            ( pos: (5, 1), kind: HighGround, deployable: true),
            // second square
            ( pos: (8, 0), kind: HighGround, deployable: true),
            ( pos: (8, 1), kind: HighGround, deployable: true),
            ( pos: (9, 0), kind: HighGround, deployable: true),
            ( pos: (9, 1), kind: HighGround, deployable: true),
            // first lane
            ( pos: (0, 2), kind: Ground ),
            ( pos: (1, 2), kind: Ground, deployable: true ),
            ( pos: (2, 2), kind: Ground, deployable: true ),
            ( pos: (3, 2), kind: Ground, deployable: true ),
            ( pos: (4, 2), kind: Ground, deployable: true ),
            ( pos: (5, 2), kind: Ground, deployable: true ),
            ( pos: (6, 2), kind: Ground, deployable: true ),
            ( pos: (7, 2), kind: Ground, deployable: true ),
            ( pos: (8, 2), kind: Ground, deployable: true ),
            ( pos: (9, 2), kind: Ground, deployable: true ),
            ( pos: (10, 2), kind: Ground, deployable: true ),
            ( pos: (11, 2), kind: Ground, deployable: true ),
            ( pos: (12, 2), kind: Ground ),
            // 1st bridge
            ( pos: (3, 3), kind: Ground, deployable: true ),
            ( pos: (3, 4), kind: Ground, deployable: true ),
            // 2nd bridge
            ( pos: (9, 3), kind: Ground, deployable: true ),
            ( pos: (9, 4), kind: Ground, deployable: true ),
            // main island
            ( pos: (4, 3), kind: HighGround, deployable: true ),
            ( pos: (4, 4), kind: HighGround, deployable: true ),
            ( pos: (5, 3), kind: HighGround, deployable: true ),
            ( pos: (5, 4), kind: HighGround, deployable: true ),
            ( pos: (6, 3), kind: HighGround, deployable: true ),
            ( pos: (6, 4), kind: HighGround, deployable: true ),
            ( pos: (7, 3), kind: HighGround, deployable: true ),
            ( pos: (7, 4), kind: HighGround, deployable: true ),
            ( pos: (8, 3), kind: HighGround, deployable: true ),
            ( pos: (8, 4), kind: HighGround, deployable: true ),
            // second lane
            ( pos: (0, 5), kind: Ground ),
            ( pos: (1, 5), kind: Ground, deployable: true ),
            ( pos: (2, 5), kind: Ground, deployable: true ),
            ( pos: (3, 5), kind: Ground, deployable: true ),
            ( pos: (4, 5), kind: Ground, deployable: true ),
            ( pos: (5, 5), kind: Ground, deployable: true ),
            ( pos: (6, 5), kind: Ground, deployable: true ),
            ( pos: (7, 5), kind: Ground, deployable: true ),
            ( pos: (8, 5), kind: Ground, deployable: true ),
            ( pos: (9, 5), kind: Ground, deployable: true ),
            ( pos: (10, 5), kind: Ground, deployable: true ),
            ( pos: (11, 5), kind: Ground, deployable: true ),
            ( pos: (12, 5), kind: Ground ),
            // left island of deployable tiles
            ( pos: (0, 6), kind: HighGround, deployable: true ),
            ( pos: (1, 6), kind: HighGround, deployable: true ),
            ( pos: (2, 6), kind: HighGround, deployable: true ),
            ( pos: (0, 7), kind: HighGround, deployable: true ),
            ( pos: (1, 7), kind: HighGround, deployable: true ),
            ( pos: (2, 7), kind: HighGround, deployable: true ),
            // first square of deployable tiles above
            ( pos: (4, 6), kind: HighGround, deployable: true),
            ( pos: (4, 7), kind: HighGround, deployable: true),
            ( pos: (5, 6), kind: HighGround, deployable: true),
            ( pos: (5, 7), kind: HighGround, deployable: true),
            // second square
            ( pos: (8, 6), kind: HighGround, deployable: true),
            ( pos: (8, 7), kind: HighGround, deployable: true),
            ( pos: (9, 6), kind: HighGround, deployable: true),
            ( pos: (9, 7), kind: HighGround, deployable: true),
            // elbow path for boss
            ( pos: (3, 6), kind: Ground ),
            ( pos: (3, 7), kind: Ground ),
            ( pos: (3, 8), kind: Ground ),
            ( pos: (2, 8), kind: Ground ),
            ( pos: (1, 8), kind: Ground ),
        ],
    ),
    models: [
        (
            path: "models/ccmap.glb#Scene0",
        ),
    ],
)
